doctype xml
JMF(
    xmlns="http://www.CIP4.org/JDFSchema_1_1"
    'xmlns:xsi'="http://www.w3.org/2001/XMLSchema-instance"
    SenderID=application_name
    Timestamp=new Date().toISOString()
    Version="1.2"
)
    block query
        Error="query block not set"
